{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Recruiter Dashboard</title>

    <link rel="stylesheet"
          href="{% static 'profilepage/style.css' %}">
</head>

<body>

<nav>
    <a href="/">Portfolio</a>

    <form method="post"
          action="/accounts/logout/"
          style="display: inline;">
        {% csrf_token %}

        <button type="submit"
                class="logout-button">
            Logout
        </button>
    </form>
</nav>

<div class="card">

    <h1>Recruiter Dashboard</h1>

    <p>
        Welcome, {{ user.username }}
    </p>

    <h2>Private Resources</h2>

    <p>
        Additional professional documents are available below.
    </p>

    <h2>Downloads</h2>

    <a href="/download/recommendation-letter/"
   class="contact-button">
    Download Recommendation Letter
</a>

    <ul>
        <li>Recommendation Letter</li>
        <li>Project Documentation</li>
        <li>Architecture Diagrams</li>
        <li>System Engineering Notes</li>
    </ul>

</div>

</body>
</html>
